@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    
    background-color: rgba(1, 8, 37, 0.959);
    font-family: "Shadows Into Light", cursive;
    justify-content: space-around;
    height: 100vh;
}
.header
{
    /* align-items: center; */
    background-color: white;
    /* justify-content: space-around; */
}
p
{
    font-size: 23px;    
}
.esquerda{
  display: flex;
  /*align-items: center;*/
  /* gap: 16px; */
}
.main_container
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a
{
    text-decoration: none;
    color: rgb(3, 3, 90);
    font-size: 20px;
}
.outra
{
    height: 50px;
    display: flex;
    justify-content: flex-end;
     z-index: 1000;
}

.boba
{
    font-size: 10px;
    text-align: center;
    background-color: aliceblue;
}
.imo
{
    display: flex;
    border-radius: 50%; 
    gap: 20px;
}

.imo  img {
    height: 200px;
    border-radius: 10%;
}
.imu  img {
    height: 200px;
    border-radius: 10%; 
}

.imu
{
    display: flex;
    /* gap: 20px; */
}

.info
{
    color:aliceblue;
    font-size: 40px;
}

.outrainfo
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(151, 205, 221, 0.253);
    color: aliceblue;
}

.text
{
    color: aliceblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.ima
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.botao
{
    display: flex;
    justify-content: space-around;
    color:aliceblue;
    background-color: rgb(4, 69, 122);
}
button
{
    font-size: 20px;
    padding: 6px;
    border-radius: 20px;
    background-color: rgb(2, 143, 236);
}
/* .dana
{
    justify-content: center;
    
} */